*{
    text-decoration: none;
}

.card {
    background-color: #CBD5C0;
    margin: 35px 0;
    padding: 20px;
    border-radius: 45px;
    display: flex;
    color: #013220;
}

.card h3{
    font-size: 25px;
    color: #014421;
}

.card p{
    font-size: 17px;
    color: #355E3B;
}

.gameDetails{
    width: 33%;
}

.playersContainer{
    width: 33%;
}
.mapContainer{
    width: 33%;
}